extends layout

block content
  h1= title
  - var result=results 
    div.row 
        each item, index in result
            div.col-sm-2(onclick=`buy(${index})`) Door Name: #{item["Door_Name"]} <br> Door company: #{item["Door_company"]} <br> Door size: #{item["Door_size"]}
  script.
    function buy(index) {
      alert("You purchased item " + index)
    }
