extends layout

block content
  h1= title

  if(toShow == null)
    h2 No instance to update
  else
    - let Doorid = toShow._id
    - let Door_Name = toShow.Door_Name
    - let Door_Company = toShow.Door_company
    - let Door_Size = toShow.Door_size
    - let actionid = "/resource/Door/" + Doorid
    script let actionid = "#{actionid}"
    div.row(class='mb-2')
    div.mr-1 ID is 
      span(style="color:red")  #{Doorid}
    form(id='DoorForm', action= actionid, method="PUT")
      div.form-group
      div(class="row g-3 align-items-center")
        div(class="col-1")
          label.DoorAttr(for='Door_Name',class="col-form-label") Door Colour
        div(class="col-auto")
          input#Door_Name(type='text', name='Door_Name',class="form-control", value=Door_Name)
      div.form-group
      div(class="row g-3 align-items-center")
        div(class="col-1")
          label.DoorAttr(for='Door_Company',class="col-form-label") Door Brand 
        div(class="col-auto")
          input#Door_Company(type='text', name='Door_Company',class="form-control", value=Door_Company)
      div.form-group
      div(class="row g-3 align-items-center")
        div(class="col-1")
          label.DoorAttr(for='Door_Size',class="col-form-label") Door cost
        div(class="col-auto")
          input#Door_Size(type='number', name='Door_Size',class="form-control", value=Door_Size)
      input(class="btn btn-danger m-2" type="submit")
        //- button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
      button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
    
    script.
      document.forms['DoorForm'].addEventListener('submit', (event) => {
       event.preventDefault();
      // TODO do something here to show user that form is being submitted
       fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
        alert("Update succeded")
        // TODO handle body
        }).catch((error) => {
        // TODO handle error
        alert("Update failed " + error )
       });
      });